html {
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f2f2f2
}

main {
  flex: 1 0 auto;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300
}

a{
  text-decoration: underline;
  color: #909090 ;
}

a:hover {
  text-decoration: none;
  color: #383838;
}

.collapsible-body, .collapsible-header{
  background-color: #f2f2f2
 ;
}
